.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.btn-special-animation {
	position: relative;
	transition: background-color 0.4s;
	overflow: hidden;
	z-index: 0;

	&::before {
		display: block;
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		// color: #000;
		width: 100%;
		height: 100%;
		transform: scale(0);
		transform-origin: right;
		transition: transform 0.4s;
		z-index: -1;
	}

	&:hover::before {
		transform: scale(1);
		transform-origin: left;
	}
}

.section-title {
	position: relative;
	margin-top: 1em;
	margin-bottom: 0.5em;
	font-size: 3rem;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
}

.underline {
	height: 4px;
	width: 60px;
	background-color: $gold;
	margin: 0 auto 40px;
}

.section-padding {
	padding: 2em 2em;
}

@media (min-width: 768px) {
	.section-padding {
		padding: 4em 2em;
	}

	.section-title {
		font-size: 4.5rem;
	}
}

